@import '../../globalVariables.scss';

.container {
  padding: 2rem 1rem;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
  position: relative;
  grid-template-columns: repeat(8,minmax(0,1fr));
  display: grid;
  gap: 0.8rem;

  @media screen and (max-width: $small) {
    display: block;
  }

  &:first-of-type {
    margin-top: 1rem;
  }

  &:last-of-type {
    margin-bottom: 3rem;
  }
}

.dates {
  font-size: 0.8rem;
  grid-column: span 2/span 2;

  span {
    opacity: 0.5;
  }
}

.content {
  grid-column: span 6/span 6;

  h3 {
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
  }

  .iconLink {
    position: absolute;
    transform: translate(10px, 2px);
    opacity: 1;
    transition: all 0.2s linear;
    color: $highlight;

    @media screen and (min-width: $tablet) {
      opacity: 0;
      transform: translate(-10px, 2px);
  }
  }
}

.company {
  color: transparentize($main-colour, 0.5);
  font-size: 0.8rem;
}

.skills {
  margin-top: 0.8rem;

  span {
    border: 1px solid darken($highlight, 0.9);
    background-color: transparentize($highlight, 0.9);
    color: darken($highlight, 0.9);
    margin-right: 5px;
    padding: 0.05rem 1rem;
    border-radius: 50px;
    font-size: 0.8rem;
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
  }
}


@media screen and (min-width: $tablet) {
  span.iconLink {
    opacity: 0;
  }

  .opacity {
    opacity: 0.3;
  }
  
  .hover {
    border: 1px solid transparentize($main-colour, 0.9);
    border-radius: 0.5rem;
  
    h3 {
      color: $highlight;
    }
  
    .iconLink {
      position: absolute;
      transform: translate(10px, 2px);
      opacity: 1;
    }
  }
}