@mixin container($percentage) {
  padding-right: $percentage;
  padding-left: $percentage;
}

@mixin container-margin($percentage) {
  margin-right: $percentage;
  margin-left: $percentage;
}

@mixin full-bg($height, $width, $cover) {
  width: $width;
  height: $height;
  background-size: $cover;
  background-position: center center;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin inline($align) {
  display: inline-block;
  vertical-align: $align;
}

@mixin breakpoint($point) {
  @if $point == xlarge {
    @media (min-width: 100em) { @content ; }
 }
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (max-width: 50em) { @content ; }
 }
  @else if $point == phablet {
    @media (max-width: 37.5em)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }
 }
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}
