:root {
  --max-width: 1000px;
  --border-radius: 12px;

  /* BASE COLOURS */
  --main-colour: #2D2B2F;
  /* --highlight: #ECBE13; */
  --highlight: #26de81;

  /* BASE FONT */
  --font-size: 16px;
  --line-height: 26px;

  @media screen and (max-width: 940px) {
    --max-width: 80%;
  }
}