//MEDIA QUERIES SIZES
$tablet: 940px;
$small: 740px;

// MAIN CONTAINER SIZE
$max-width: 1000px;

// FONT VARIABLES
$main-colour: #0a0a0a;
$highlight: #555555;

// PREFERS DARK
$dark-white: #ecf0f1;

//COLOR VARIABLES
$white: #FFFFFF;

// LARGE
$font-size: 16px;
$line-height: 26px;

// SMALL
$font-size-small: 14px;
$line-height-small: 22px;